<head>
	<meta charset="utf-8">
	<title>Poop</title>
	<link rel="shortcut icon" href="static/poop.png">
	<link rel="stylesheet" href="static/init.css">
	<script type="text/javascript" src="static/index.js">
	</script>
</head>

<body>
	<h1>Books</h1>

	<div class="content">

		<div style="width: 100%">
			<input type="text" placeholder="Автор..."></input>
		</div>
		<div class="left">

		</div>

		<div class="right">

		</div>
	</div>

</body>