body * {
	box-sizing: border-box;
}

h1 {
	color: red;
}

img {
	height: 80px;
	width: 50px;
}

div {
	margin: 10 5 5 5;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.left {
	overflow-y: auto;
	border: 2px solid green;
	max-height: 600px;
	min-width: 450px;
	min-height: 100px;
}

.right {
	overflow-y: auto;
	border: 2px solid red;
	max-height: 600px;
	min-width: 450px;
	min-height: 100px;
}

.item {
	overflow: hidden;
	display: flex;
	border: 1px solid;
	justify-content: space-between;
}

.right .after {
	right: auto;
	left: -5px;
	border-left-color: transparent;
	border-right-color: #999999;
}

.after {
	position: absolute;
	right: -5px;
	top: calc( 50% - 15px);
	border: 10px solid transparent;
	border-left-color: #999999;
}

.element-cont {
	position: relative;
	padding: 30px;
	box-shadow: 0 0 0 1px #999999;
}